/*
* --primary: #41b883;
* --secondary: #fff;
* --tertiary: #f1f1f1;
*/

.dropzone {
    width: 70%;
    height: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    border: 2px dashed var(--primary);
    background-color: var(--secondary);
    transition: .3s ease all;
    padding: 5%;
    box-sizing: border-box;
}

label {
    /* padding: 8px 12px; */
    max-width: 80%;
    padding: 3% 4%;
    color: var(--secondary);
    background-color: var(--primary);
    transition: .3s ease all;
    cursor: pointer;
}

input {
    display: none;
}

.active-dropzone {
    color: var(--secondary);
    border-color: var(--secondary);
    background-color: var(--primary);
}

.active-dropzone label {
    background-color: var(--secondary);
    color: var(--primary);
}