:root {
  --primary: #41b883;
  --secondary: #fff;
  --tertiary: #f1f1f1;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--tertiary);
}

.dropzone {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  border: 2px dashed var(--primary);
  background-color: var(--secondary);
  transition: .3s ease all;
}

label {
  padding: 8px 12px;
  color: var(--secondary);
  background-color: var(--primary);
  transition: .3s ease all;
}

input {
  display: none;
}

h1 {
  font-size: 40px;
  margin-bottom: 32px;
}

.file-info {
  margin-top: 32px;
}

.active-dropzone {
  color: var(--secondary);
  border-color: var(--secondary);
  background-color: var(--primary);
}

.active-dropzone label {
  background-color: var(--secondary);
  color: var(--primary);
}